@page "/counter"
@* 새로 생성한 MainLayout2 적용 *@
@layout MainLayout2
@* 코드 상에서 navLink 사용 할 경우 NavigationManager를 사용한다. *@
@inject NavigationManager navManager
@* 경우에 따라 필요한 인자가 있을 경우 중간에 캐치하여 사용할 수 있다. *@
@page "/counter/{CurrentCount:int}"

@* 라우팅을 할 때에는 항상 상대 경로만을 입력해야 한다. *@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<a class="btn btn-primary" href="FetchData"></a>

@code {
    
    private void IncrementCount()
    {
        CurrentCount++;
        navManager.NavigateTo("fetchdata");
    }

    [Parameter]
    public int CurrentCount { get; set; }
}
