@*
바인딩 페이지
코드에서 선언한 변수, html 값 연동을 위해 사용된다.

1. 
_value는 One-Side Binding 형태 : 한쪽 방향으로 바인딩이 되었다. 변수 값이 변경되면 html 값이 변경된다.

2. 
range는 Two-Way Binding 형태 : 양쪽 방향으로 바인딩이 되었다. 변수 값이 변경되면 html 값이 변경되고, html 값이 변경되면 변수 값이 변경된다.
→ bind-value:event="oninput" : html 값이 변경되면 실시간으로 변수 값이 변경되도록 설정한다.


*@

@page "/binding"

<h3>Binding</h3>

<p>Value : @_value</p>
<input type="range" step="1" @bind-value="_value" min="0" max="100" @bind-value:event="oninput"/>

@code {

	int _value = 15;
}
