@using BlazorApp.Data;

<p>
	Users: <b>@Users.Count()</b>
</p>

<br />

<ul class="list-group">
	<!-- 이름 출력 -->
	@foreach (var user in Users)
	{
		<li @key="user" class="list-group-item">
			<!-- 유저 삭제 -->
			<button type="button" class="btn btn-link" @onclick="() => KickUser(user)">Kick</button>
			<label>@user.Name</label>
		</li>
	}
</ul>

@code
{
	[Parameter]
	public List<UserData> Users { get; set; }
	[Parameter]
	public /* Action */ EventCallback CallbackTest { get; set; }

	// 유저 데이터 추가
	protected override void OnInitialized()
	{
		Users.Add(new UserData() { Name = "Shung" });
		Users.Add(new UserData() { Name = "Kong" });
		Users.Add(new UserData() { Name = "Hi" });
	}

	public void AddUser(UserData user)
	{
		Users.Add(user);
	}

	public void KickUser(UserData user)
	{
		Users.Remove(user);
		// Action - CallbackTest.Invoke();
		CallbackTest.InvokeAsync(null);
	}
}